<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${mensaje}">Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>

<header th:fragment="header">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Hedlan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listar}">Usuario</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listarcategoria}">Categoria</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listararchivos}">Importar archivos</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listarecibos}">Recibos</a></li>
			</ul>
		</div>
	</nav>
	<div class="alert alert-success" th:if="${success != null}" th:text="${success}"> </div>
	<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"> </div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"> </div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"> </div>
	
</header>

	<div class="container">	</div>
<footer th:fragment="footer" class="container">
<p>&copy; Hedlan 2020</p>
</footer>
</body>
</html>