<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card bg-dark text-white">

			<div class="card-header" th:text="${titulo}"></div>


			<div th:object="${usuario}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
					role="alert">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>

			<form th:action="@{/form}" th:object="${usuario}" method="post">
				<div class="form-group row">
					<label for="nombre" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Nombre</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombre}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="apellido" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Apellido</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{apellido}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
					</div>

				</div>
				<div class="form-group row">
					<label for="usuario" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Usuario</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{usuario}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></small>
					</div>

				</div>


				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Email</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{email}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
				</div>

				<div class="form-group text-left">
					<div class="col-sm-6">
						<input type="submit" value="Crear Usuario" class="btn btn-secondary" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>