<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container">
		<div>
			<h1 th:text="${mensaje}"></h1>
			<h2>Seleccione opcion para operar</h2>
		</div>
	</div>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	<br>	</br>
	
	<div class="container">
		<hr />
	<footer th:replace="layout/layout :: footer"></footer>

	</div>
</body>
</html>