<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>

			<div class="card-body">

				
				<h4 class="card-title">
					<a th:href="@{/formarchivo}" class="btn btn-primary btn-xs">Importar archivo</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th>Archivo</th>
							<th>Periodo</th>
							<th>Ver</th>
							<th>Generar recibo</th>	
							<th>Eliminar</th>					
						</tr>
					</thead>
					<tbody>
						<tr th:each="archivo: ${archivo}">
							<td th:text="${archivo.idarchivo}"></td>
							<td th:text="${archivo.nombre}"></td>
							<td th:text="${archivo.ruta}"></td>
						
							<td><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${archivo.idarchivo}" th:text="'VER'"></a></td>							
							
							<td><a class="btn btn-secondary btn-xs" th:href="@{/insertaregistros/} + ${archivo.nombre}" th:text="'Generar archivo'"></a></td>
							<td><a class="btn btn-danger btn-xs"th:href="@{/eliminararchivo/} + ${archivo.idarchivo}"	th:text="'Eliminar'"onclick="return confirm('Estás seguro que quieres eliminar el archivo?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>