<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>

			<div class="card-body">




				<h4 class="card-title">
					<a th:href="@{/formfirma}" class="btn btn-primary btn-xs">Crear
						firma</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th>idusuario</th>
							<th>firma</th>
							<th>Resetear firma</th>
							<th>Inactivar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="firma: ${firma}">
							<td th:text="${firma.idfirma}"></td>
							<td th:text="${firma.idusuario}"></td>
							<td th:text="${firma.firma}"></td>


							<td><a class="btn btn-primary btn-xs"
								th:href="@{/formfirma/} + ${firma.idfirma}" th:text="'Resetear'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminarfirma/} + ${firma.idfirma}"
								th:text="'Inactivar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>

						</tr>
						<button type="button" class="btn btn-secondary btn-lg" disabled>Firma MSV</button>

					</tbody>


				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>